$font-stack: Helvetica;
$primary-color: green;
$secondary-color: blue;

body {
  ul {
    color: $secondary-color;
  }
  font: $font-stack;
  color: $primary-color;
}



html,
body,
ul,
ol {
  margin:  0;
  padding: 0;


}

a:hover {
  color:yellow;
}

.litest {
  color: red;
}

.ultest {
  @extend .litest;
  font-size:18px;
}
